@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px; font-family: 'Open Sans', sans-serif;}
.c{ clear:both;}
ol, ul{ list-style:none; margin-bottom:0px;}

body{background:#f1f1f1;}

/* header css */
.header-bg{ background:#a80007; padding:5px 0px;}
.headlogin{ float:right;text-align:left}
.headlogin li{ font-size:14px; display:block; float:left; color:#fff; padding:14px 5px;}
.headlogin li a{ color:#fff; display:block;}
.headlogin li a i{ padding-left:5px; font-size:16px;}

/* menu css */
.menu-bg{ background:#bfbfbf;  box-shadow:0 0 4px #181818; -moz-box-shadow:0 0 4px #181818; -o-box-shadow:0 0 4px #181818; -webkit-box-shadow:0 0 4px #181818;}
.menu{}
.menu li{ font-size:14px; text-transform:uppercase;  display:block; float:left;}
 .menu li:first-child a {
padding-left: 0;
}
.menu li a{ color:#000; border-right:1px solid #000; display:block; padding:0px 25px; margin:10px 0px; line-height:14px;}
.menu li a:hover,.active{ text-decoration:underline;}
.menu li:last-child a{ border-right:none; }

/* table lay out css*/
.topmargin{ margin-top:35px;}
.addmin{ font-size:16px; color:#000;}
.editdelete{float:right;}
.editdelete li{ font-size:14px; text-transform:uppercase;  display:block; float:left;}
.editdelete li a{ color:#1947f3; border-right:1px solid #1947f3; display:block; padding:0px 5px; margin:4px 0px 0px 0px; text-decoration:underline; line-height:14px;}
.editdelete li input{box-shadow: none;border: 0; color:#1947f3; border-right:1px solid #1947f3; display:block; padding:0px 5px; margin:4px 0px 0px 0px; text-decoration:underline; line-height:14px;}
.editdelete li:last-child a{ border-right:none; }
.editdelete li:last-child input{ border-right:none; }
.editdelete li a:hover{ text-decoration:none;}
.editdelete li input:hover{ text-decoration:none;}
.admin-box{ border:1px solid #d2d2d2; border-bottom:none; border-radius:5px 5px 0px 0px; background:#fff; padding:7px 10px;}
.admin-box h2{ margin:0px; line-height:30px;font-size:26px;}
.table{ background:#fff; border:1px solid #d2d2d2; border-radius:0px 0px 5px 5px !important;margin-bottom:0px; }
.table tr th{border-bottom:1px solid #d2d2d2; border-top:none !important; color:#1947f3; font-size:12px; text-transform:uppercase; font-weight:lighter; padding:4px 8px !important;}
.table tr td{ border-right:1px solid #d2d2d2; border-top:none !important; font-size:13px; color:#636262;}
.radio-btn{ margin:0px 5px 0px 0px !important;}
.table-responsive{
	box-shadow:0 2px 3px #ccc;
	-moz-box-shadow:0 2px 3px #ccc;
	-webkit-box-shadow:0 2px 3px #ccc;
	-o-box-shadow:0 2px 3px #ccc;
}
.table tr td:nth-child(6), .table tr td:nth-child(7){ text-align:center;}
.table-striped > tbody > tr  td{padding:4px 8px}
.table-striped > tbody > tr:nth-child(2n) > td{ background-color:#ebebeb;}
.table-striped > tbody > tr:nth-child(2n+1) > th{ background:#FFF;}
.pagebtn{ float:right; margin:20px;}
.pagebtn li{ display:block; float:left;}
.pagebtn li a{ padding:5px 10px; color:#636262; font-size:13px; border:1px solid #d2d2d2; border-right:none; background:#fff;text-decoration:none;}
.pagebtn li:last-child a{ border-right:1px solid #d2d2d2;}
.activ, .pagebtn li a:hover{background:#f5f5f5 !important;}
.tabletext{ font-size:18px; font-style:italic; color:#27279a; line-height:26px; margin-bottom:0px;}

/* summary css*/
#summ{min-height:350px;}
.summary{ background:#fff; border:1px solid #d2d2d2; border-radius:5px;}
.summary h3{font-size:16px;padding:10px; margin:0px; margin:0px !important;color:#000000}
.summary .table span{display:block;clear:both;font-style:italic}
.leadtitle{font-weight:700;text-decoration:underline;font-style:normal !important}
.tbl tr th{ border-bottom:1px solid #d2d2d2;}
.noborder,.noborder td,.noborder th,.noborder tr{border:none !important}

.blue{ background:#340c9d !important; box-shadow:0 0 4px #181818; -moz-box-shadow:0 0 4px #181818; -o-box-shadow:0 0 4px #181818; -webkit-box-shadow:0 0 4px #181818;}
.emailtext, .passtext{ border:1px solid #6ec5cc; padding-left:10px; color:#a6a6a6; font-size:14px;width:160px;margin-bottom:5px;clear:both}
.loginbtn{ background:#6ec5cc; padding:5px 10px; color:#fff; border:1px solid #6ec5cc; font-size:13px; line-height:10px;}
.headlogin1 li{padding:5px !important;}
.keep{ font-size:12px; color:#fff;  margin:0px; }
.cbox{ margin:0px 5px 0px 0px !important; height:10px; width:10px;}
.keep-forgot{ margin-left:116px;}
.keep-forgot li{ display:block; float:left;}
.keep-forgot li:last-child{ margin-left:82px;}
.visittext{ margin-top:40px;}
.visittext h3{color:#626262; text-transform:uppercase; font-weight:lighter; line-height:44px; font-size:22px;}
.visittext p{ color:#626262;}

#reg{margin:10px 0;}

.form-control {
    background: none repeat scroll 0 0 #f6f9fa;
    box-shadow: 0 0 5px #999999 inset;
    -moz-box-shadow: 0 0 5px #999999 inset;
    -webkit-box-shadow: 0 0 5px #999999 inset;
    -o-box-shadow: 0 0 5px #999999 inset;
    display: block;
    float: left;
    margin: -1px;
    /*max-width: 200px;*/
    max-width: 16.92%;
    width: auto;
	border-radius:0px;
}
.form-control:focus{
	box-shadow: 0 0 5px #c4c5c5 inset;
    -moz-box-shadow: 0 0 5px #c4c5c5 inset;
    -webkit-box-shadow: 0 0 5px #c4c5c5 inset;
    -o-box-shadow: 0 0 5px #c4c5c5 inset;
	background:#f2f7f8;
}
.inputone{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.btn{background:#5a0f94;color:#fff;border-top-right-radius:5px;border-bottom-right-radius:5px;padding:6px 15px;box-shadow:none }
.banner{
	box-shadow: 0 0 5px #333333;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow: 0 0 5px #333333;
    -o-box-shadow: 0 0 5px #333333;
	border:3px solid #000000
}
/* my */
.form-control1 {
    background: none repeat scroll 0 0 #f6f9fa;
    box-shadow: 0 0 5px #999999 inset;
    -moz-box-shadow: 0 0 5px #999999 inset;
    -webkit-box-shadow: 0 0 5px #999999 inset;
    -o-box-shadow: 0 0 5px #999999 inset;
    display: block;
   float: left;
     /*margin: -1px;
    /*max-width: 200px;
    max-width: 16.92%;*/
    width: 14.28%;
	border-radius:0px;
	height:34px; border:1px solid #999;
	padding-left:10px; border-right:none;
}
.inputone1{border-top-left-radius:5px;border-bottom-left-radius:5px;}

.btn1{background:#5a0f94;color:#fff;border-top-right-radius:5px;border-bottom-right-radius:5px;padding:6px 15px;box-shadow:none ;}
@media (max-width: 767px) {
.centeralign{ text-align:center;}	
.headlogin{ float:none;}
.headlogin li{ display:inline-block; float:none; }
}